<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>J-Reviewst</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
	<link rel="shortcut icon" href="http://www.clker.com/cliparts/z/5/w/w/C/q/white-letter-j-md.png">
</head>
<body>
	 

     <div class="login-style">
     <div style="padding: 10px"></div>
     
     <a th:href="@{/login}" class="back-button"> <i class="back-button"></i>Return </a> 
     
     <h1>Sign Up</h1>
     
		<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
				<div style="padding: 15px"></div>
				<div class="login-input"> <input placeholder="Username" type="text" th:field="*{username}" class="form-control"/> </div>	
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
			
				<div style="padding: 15px"></div>
				<div class="login-input"> <input placeholder="Password" type="password" th:field="*{password}" class="form-control"/> </div>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			
				<div style="padding: 15px"></div>
				<div class="login-input">  <input placeholder="Password once again" type="password" th:field="*{passwordCheck}" class="form-control"/> </div>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
				
				<div style="padding: 15px"></div>
				<input type="submit" class="btn btn-success" value="Sign Up"></input>	
				<div style="padding: 15px"></div>	
		</form>
	</div>
</body>
</html>